body {
    font-family: 'Poppins', sans-serif;
}
 
.oragne-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 70%;
   padding-left: 5%;
}

.half-width imag{
    width: 80%;
}

.link-Hire {
  background-color: tomato;
  color: aliceblue;
  padding: 10px 40px;;
}